<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Documento</title>
    </head>
    <body>
        <h1>Mis Tareas</h1>

        <form action="{% if task_to_edit %}{% url 'update_task' task_to_edit.id %}{% else %}{% url 'create_task' %}{% endif %}" method="POST">
            {% csrf_token %}
            
            <h2>{% if task_to_edit %}Editar Tarea{% else %}Nueva Tarea{% endif %}</h2>

            <input type="text" 
                name="title" 
                placeholder="Título..." 
                value="{{ task_to_edit.title|default:'' }}" 
                required>

            <br><br>

            <textarea name="description" 
                    placeholder="Descripción..." 
                    rows="5" 
                    cols="50">{{ task_to_edit.description|default:'' }}</textarea>

            <br><br>

            <button type="submit">
                {% if task_to_edit %}Guardar Cambios{% else %}Agregar{% endif %}
            </button>

            {% if task_to_edit %}
                <a href="{% url 'home' %}">Cancelar edición</a>
            {% endif %}
        </form>

        <hr>

        <ul>
            {% for task in pending_tasks %}
                <li>
                    {{ task.title }}{% if task.description %}: {{ task.description }}{% endif %}
                    <a href="{% url 'complete_task' task.id %}" style="color: green;">[Completar]</a>
                    <a href="{% url 'edit_view' task.id %}" style="color: blue;">[Actualizar]</a>
                    <a href="{% url 'delete_task' task.id %}" style="color: red;">[Eliminar]</a>
                </li>
            {% empty %}
                <li>No hay tareas pendientes.</li>
            {% endfor %}
        </ul>

        <strong>Tareas completadas</strong>
        <ul>
            {% for task in completed_tasks %}
                <li>
                    <strike>{{ task.title }}{% if task.description %}: {{ task.description }}{% endif %}</strike>
                    <a href="{% url 'uncomplete_task' task.id %}" style="color: green;">[Desmarcar]</a>
                    <a href="{% url 'delete_task' task.id %}" style="color: red;">[Eliminar]</a>
                </li>
            {% empty %}
                <li>No hay tareas completadas.</li>
            {% endfor %}
        </ul>
    </body>
</html>